<div class="header">
    <div class="header__logo pull-left">
    </div>
    <i class="iborder"></i>
    <div class="header__label pull-left">
      <span class="header__label-list hover">flight status </span>
      <span class="header__label-list hover">deals </span>
      <span class="header__label-list hover">fees </span>
    </div>
    <i class="iborder"></i>
    <div class="header__flydetails pull-left">
        <span class="header__flydetails-action hover">Where we fly?</span>
    </div>
    <i class="iborder"></i>
    <div class="header__account pull-left hover">
        Sign In/ Sign Up
    </div>
</div>


