<div class="result-header hide">
    <div class="result-header__logo pull-left tohome">
    </div>

    <i class="iborder"></i>
    <div class="result-header__citynames">
        <div class="result-header__citynames-source source-header"> </div>
        <div><img src="/images/fromto.svg" height="20"/></div>
        <div class="result-header__citynames-dest dest-header"></div>
    </div>

    <i class="iborder"></i>
    <div class="result-header__date">
        <span class="result-header__date-details">
           <i class="from-travel-date"> </i>
            <br/>
            <i class="to-travel-date"></i>
        </span>
    </div>

    <i class="iborder"></i>
    <div class="result-header__count">

    </div>

    <i class="iborder"></i>
    <div class="result-header__edit edit">
        <img src="/images/edit.png" height="20">Change
    </div>



</div>