<!DOCTYPE html>
<html>
<head>
    <title> Flight Enchanted</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic,300italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bundles/main.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/3rdparty/easy-autocomplete.min.css" type="text/css"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <script type="text/javascript" src="javascripts/libs/jquery.js"></script>
    <script type="text/javascript" src="bundles/vendor.min.js"></script>
	<script type="text/javascript" src="bundles/main.min.js"></script>

</head>
<body>
<div class="fe-container">
    {{{body}}}
</div>
</body>
</html>
