


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .pika-single{
        width: 100%;
        margin:0 auto;
        left: 0px !important;
        top: 120px !important;
    }
    .header{
        &__logo{
            width: 100%;
        }
        &__label, &__flydetails, &__account{
            display: none;
        }
    }

    .content{
        &__trip-selection{
            ul{
                width: 100%;
                li{
                    width: 45%;
                    label{
                        font-size: 13px;
                        padding: 25px 0px 25px 67px;
                        margin: 15px auto;
                    }
                }
            }
        }
        &__label{
            margin: 25px 0px;
        }
        &__search{
            &__count, &__source, &__destination{
                float: none;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            &__source, &__destination{
                .easy-autocomplete input{
                    width: 80%;
                }
            }
        }
        &__date{
            &__from, &__to{
                width: 100px;
                height: 100px;
                &-month, &-date, &-day{
                    height: 30px;
                }
                &-month, &-day{
                    font-size: 14px;
                }
                &-date{
                    font-size: 16px;
                }
            }
            #fromdate{
                height: 100px;
                width: 100px;
                margin-left: -132px;
            }
            #todate{
                width: 100px;
                height: 100px;
                margin-left: -100px;
            }
        }
        &__searchtrigger {
            width: 90%;
            margin: 10px 0px 10px 0px;
        }
        &__error{
            margin-bottom: 10px;
            width: 100%;
            font-size: 11px;
        }
    }

    .result-header{
        height: 120px;
        &__citynames{
            width: 70%;
            margin-left: 0px;
            &-source, &-dest{
                font-size: 13px;
            }
            img{
                height: 15px;

            }
        }
        &__edit{
            width: 29%;
            font-size: 15px;
            margin-left: 0px;
        }
        &__logo, .iborder, &__date, &__count{
            display: none;
        }
    }

    .searchresult{
        width: 100%;
        &__table{
            margin-top: 0px;
            &-detailsrow{
                table{
                    border: none;
                }
                &-logo{
                    display: none;
                }
                &-flightname{
                    font-size: 15px;
                }
            }
        }
    }

}