/* Colors used*/
$bg-primary-color : #ffd007;
$bg-secondary-color : #9013FE;
$fg-primary-color: #4A4A4A;
$price-color: #FF4A60;
$special-label-color: #3E6E83;
$black : #000000;
$white : #FFFFFF;



/*Fonts variations*/
$very-light : 100;
$light : 300;
$regular: 400;
$semibold: 700;
$bold : 900;


/*Indexes*/
$page-loader-zindex: 20; //This always to be maximum
$header-bar-index: 8;
$date-picker-index: 65;
